body {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #212529;
    color: #ffffff;
}

body.light-mode {
    background-color: #f8f9fa;
    color: #212529;
}

.toggle-btn-left {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.toggle-btn-right {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    /*padding: 8px 30px;*/
}
